@import "../../../../utils/ColorVar.module.css";

.to_Do_List {
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
}


.to_Do_List__lists {
    list-style: none;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


.no_tasks {
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
    color: darkgreen;
}
