@import "common/utils/ColorVar.module.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

body {
  color: var(--text-color);
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
}

/*Стили для автокомплита в инпуте*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--main-bg-color) inset !important;
  /* color: ${theme.colors.accent};*/
}

/* Анимация всех эффектов кнопки */
/*button {*/
/*    cursor: pointer;*/
/*    transition: all .3s ease;*/
/*}*/

/* Стили для hover эффекта кнопки */
/*button:hover {*/
/*    box-shadow: 0 0 0 1px var(--main-bg-color), 0 0 3px 3px var(--second-bg-color);*/
/*    color: var(--main-bg-color);*/
/*    background-color: var(--text-color);*/
/*    border-color: var(--text-color);*/
/*}*/

/* Стили при клике на кнопки */
/*button:active {*/
/*    transform: scale(0.96);*/
/*}*/

/* Стили для скролла Chrome */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-track:horizontal {
  background-color: var(--main-bg-color);
}


*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--second-bg-color);
  border: 3px solid var(--main-bg-color);
  border-radius: 5px;
}


*::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: var(--accent-color);
}

*::-webkit-scrollbar-corner{
  background-color: var(--main-bg-color);
}