.input_box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto 5px auto;
}

/*.addItemForm {*/
/*    width: 100%;*/
/*    padding: 5px;*/
/*    border: var(--text-color) 1px solid;*/
/*    border-radius: 5px;*/
/*}*/

/*.addItemForm::placeholder {*/
/*    font-size: 14px;*/
/*    opacity: 0.8;*/
/*    text-transform: capitalize;*/
/*}*/


/*.addItemForm.error {*/
/*    border: var(--error-color) 1px solid;*/
/*}*/

/*.addItemForm.error::placeholder {*/
/*    color: var(--error-color);*/
/*}*/

/*.error_message {*/
/*    font-size: 20px;*/
/*    font-weight: 600;*/
/*    color: var(--error-color);*/
/*    margin-bottom: 5px;*/
/*    text-align: center;*/
/*}*/

/*.limit_message {*/
/*    font-size: 20px;*/
/*    font-weight: 600;*/
/*    color: var(--main-border-color);*/
/*    margin-bottom: 5px;*/
/*    text-align: center;*/
/*}*/